/* Color preference overrides */
@media (prefers-color-scheme: dark) {
	:root {
		--overlay: rgba(40, 40, 40, 0.9);
		--overlay-highlight: rgb(23, 33, 36);
		--background: rgb(7, 18, 21);
		--border: rgb(80, 80, 80);
	}
	body {
		background-color: var(--background);
		color: #eee;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #eee;
	}
}
